@import url("https://fonts.googleapis.com/css2?family=Comforter&display=swap");

@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-SemiBold.woff2) format("woff2"),
    url(../fonts/OpenSans-SemiBold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-SemiBoldItalic.woff2) format("woff2"),
    url(../fonts/OpenSans-SemiBoldItalic.woff) format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans";
  src: url(../fonts/ExtraBoldItalic.woff2) format("woff2"),
    url(../fonts/OpenSans-ExtraBoldItalic.woff) format("woff");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.3;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 10px;
}
.header {
  margin-bottom: 50px;
}
div {
margin-bottom: 30px;
}
p {
  margin-bottom: 10px;
}
.main p:hover {
  background-color: rgba(184, 174, 174, 0.527);
  box-shadow: 2px 2px 3px 3px rgb(32, 31, 31);
}
h1 {
  font-family: Comforter, cursive;
  font-size: 100px;
  text-align: center;
  text-shadow: 5px 5px 10px #000;
  margin-bottom: 20px;
}
.button {
  display: inline-block;
  padding: 25px 15px;
  background-color: rgba(5, 4, 4, 0.678);
  border-radius: 30px;
  color: rgb(255, 255, 255);
  box-shadow: 3px 3px 0 3px #000;
  text-transform: uppercase;
  font-family: "OpenSans";
  font-weight: 600;
  font-style: italic;
}
.button + .button {
  margin-left: 45px;
}
.button:hover{
background-color: rgba(105, 100, 100, 0.883);
box-shadow: 2px 2px 0 2px #000 ;
}
.button:active {
box-shadow: inset 2px 2px 0 2px #000;
}
a:visited {
  color: rgb(17, 19, 19);
}
.button:focus {
  outline: 3px dotted rgb(0, 0, 0);
}
img {
  max-width: 600px;
}
h2 {
  font-size: 50px;
  font-family: "Comforter", cursive;
  font-style: normal;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.text-1 p:nth-child(odd) {
  color: brown;
  font-family: "OpenSans";
  font-weight: 600;
  font-style: normal;
}
.main p::first-letter {
  color: rgb(255, 10, 10);
}
.text-2 p:nth-child(2),
.text-2 p:nth-child(4) {
  font-family: "OpenSans";
  font-weight: 800;
  font-style: italic;
}
.text-2 p:last-child {
  color: rgb(20, 134, 91);
}
.text-3 p:first-child {
  color: rgba(160, 46, 1, 0.966);
}
.text-3 p:nth-child(even) {
  font-family: "OpenSans";
  font-weight: 600;
  font-style: italic;
}
.text-4 p:first-of-type,
.text-4 p:last-of-type {
  color: rgba(99, 68, 1, 0.966);
}
.text-2  p:first-child::first-line {
  color: rgb(236, 14, 14);
}
.list {
  display: none;
  font-family: "OpenSans";
  font-weight: 600;
  font-style: italic;
  background-color: rgba(238, 182, 148, 0.356);
  border-radius: 20px;
  padding: 0 0 5px 50px;
}
.list li::before {
  content: "";
  display: inline-block;
  height: 30px;
  width: 30px;
  background: url(../img/book.png) left bottom  / 30px no-repeat;
  margin: 0 10px 0 -45px;
}
.list:target {
display: block;
}
.name {
  text-shadow: 5px 5px 8px #000;
}
.footer {
  text-align: right;
}
.list-footer {
  counter-reset: item;
}
.list-footer li::before {
  counter-increment: item;
  content: counter(item) ").";
  margin: 0 10px 0 0;
  color: rgb(248, 3, 187);
}
li > a {
  color: rgb(255, 0, 0);
}